body{
    height: 100vh;
    /* background-image: url(./img/acdd06498d7bbfca9ec951244b97f997.jpg); */
    
}

h1,h2{
    color: black;
}

#myImg{
    width: 600px;
    border-radius: 8px;
}
p{
    color: black;
    font-size: 28px;
}

#form{
    background-color: rgba(131, 128, 128, 0.411);
    
}
.form-label{
    color: black;
}

p.col-6.mb-3, div.col-6.mb-3 {
    font-size: 18px;
    padding: 18px;
}