body{
    height: 100vh;
    background-color: beige;
}


h1,h2{
    color: black;
}
.titulo__principal, .texto__principal{
    color: white;
}

.titulo__secundario{
    position: relative;
    font-size: 2em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

.bi{
    font-size: 30px;
    color: darkblue;
}
.bi:hover{
    color: darkred;
}
.morphing{
    position: relative;
    filter: contrast(25) blur(1px);
    margin: 35px 45px;
    padding-top: 28px;
}


.word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: word 12s infinite ease-in-out;
}

.word:nth-child(1){
    animation-delay:-16s ;
}
.word:nth-child(2){
    animation-delay:-14s ;
}
.word:nth-child(3){
    animation-delay:-12s ;
}
.word:nth-child(4){
    animation-delay:-10s ;
}
.word:nth-child(5){
    animation-delay:-8s ;
}



@keyframes word{
    0%,5%,100%{
        filter: blur(0px);
        opacity: 1;
    }
    20%,80%{
        filter: blur(1em);
        opacity: 0;
    }
}

#myImg{
    width: 600px;
    border-radius: 8px;
}
p{
    color: black;
    font-size: 28px;
}

#carouselExampleCaptions{
    background-color: red;
    background-image: url(./img/eu3.jpg);
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    width: 100%;

}

#form{
    background-color: rgba(131, 128, 128, 0.411);
    
}
.form-label{
    color: black;
}

p.col-6.mb-3, div.col-6.mb-3 {
    font-size: 18px;
    padding: 18px;
}

p.mb-0{
    font-size: 16px;
}


.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 50%;

    }
    
}

@keyframes animate{
    0%, 18%,20%,50.1%,60%, 65.1%, 80%, 90.1%, 92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
        

    }
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .titulo__principal, .texto__principal{
        font-size: 12px;
    }
    .bi{
        font-size: 20px;
    }
}