body{
    height: 100vh;
    /* background-image: url(./img/acdd06498d7bbfca9ec951244b97f997.jpg); */
    background-color: beige;
}

h1,h2{
    color: black;
}
.titulo__principal, .texto__principal{
    color: white;
}

.titulo__secundario{
    position: relative;
    font-size: 2em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

.bi{
    font-size: 30px;
    color: darkblue;
}
#myImg{
    width: 600px;
    border-radius: 8px;
}
p{
    color: black;
    font-size: 28px;
}

#form{
    background-color: rgba(131, 128, 128, 0.411);
    
}
.form-label{
    color: black;
}

p.col-6.mb-3, div.col-6.mb-3 {
    font-size: 18px;
    padding: 18px;
}

p.mb-0{
    font-size: 16px;
}


.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 50%;

    }
    
}

@keyframes animate{
    0%, 18%,20%,50.1%,60%, 65.1%, 80%, 90.1%, 92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
        

    }
}